<div class="container registrationInfomationContainer">
    <div class="block bottomLine">
        <div>
            <span>信息登记</span>
        </div>
    </div>
    <div class="block deliveryAddressBlock">
        <p class="p1">姓名</p>
        <p class="p2"><input ng-bind="infoName" /></p>
    </div>
    <div class="block">
        <p class="p1">电话</p>
        <p class="p2"><input ng-bind="infoPhone" /></p>
    </div>
     <div class="block">
        <p class="p1">公司</p>
        <p class="p2"><input ng-bind="infoCompany" /></p>
    </div>
    <div class="block">
        <p><button class="btn sureBtn" ng-click="submit()">提交</button></p>
    </div>
</div>